.favorite-container h1{
    text-align: center;
    margin: 2em auto;
}

.favorite-container .favorite-content {
    display: grid;
    gap: 1em;
    margin: 2em auto;
    width: 90%;
}

/* MEDIA QUERY */

@media (min-width: 37.5em) {
    .favorite-container .favorite-content {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 62em) {
    .favorite-container .favorite-content {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }