*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'KumbhSans-Var';
  src: url('/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf');
}

:root {
  font-family: 'KumbhSans-Var';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --text-color: #fff;
  --main-color: #00abf0;
  --logo-color: #7ac2f1;
  --main-bg-color: #242424;
  --bg-color: #182432;
  --second-bg-color: #112e42;
  --white: #fff;
  --ashyblue: #dfeefe;

  background-color: var(--main-bg-color);
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}
